$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#corpo-site {
  width: 99%;
}

#dropdown-button {
  color: white;
}

#dropdown-button:hover {
  color: #cecece;
}

#grav {
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: asset-url("profile_pic.jpg");
  background-size: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 2px grey;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: underline overline;
}

#logo:hover {
  color: #cecece;
}

#me {
  color: white;
}

#navbar-article {
  color: white;
}

#navbar-article:hover {
  color: #cecece;
}

#skill-list li {
  font-size: 170%;
  font-family: "Verdana, Geneva, sans-serif";
  padding-top: 10px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.badge {
  background-color: #D6AC40;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 5px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  margin-top: 100px;
}

.center {
  text-align: center;
}

.description {
  margin-top: 0;
}

.header-all {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1; // Makes the nav bar always display in front of other objects
  width: 101%;
}

.input_checkbox input {
  width: auto !important;
}

.jumbotron {
  background-image: asset-url("ruby_background.jpg");
  background-size: cover;
  height: 530px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.listing {
  list-style: none;
  padding-left: 0;
}

//CSS to enable fade in animation
.slideanim {
  visibility: hidden;
}

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
