<div class="container">
  <footer class="footer">
    <small>
      Find me on
      <a target="_blank" href="https://www.linkedin.com/in/hiagokoziel/"> Linkedin</a>
      |
      <a target="_blank" href="https://www.github.com/koziel101/"> GitHub</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>